body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: #eee;    
  }

.header {
    overflow: hidden;
    background-color: #888c8f;
    padding: 20px 10px;
}
.header a {
    float: left;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
}
.header a.logo {
    background-color: #ddd;
    color: black;
}
.header a.login {
    background-color: dodgerblue;
    float:right;
}

.hover:hover {
    text-decoration: underline;
    color: #455445;
}

#s-b {
  display: none;
}
/* style for hero slider */
.hero {
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    background: linear-gradient(270deg, #f3ae00, #00f3ca);
    background-size: 100% 100%;
    animation: hero-gradient 18s ease infinite;
  }
  .hero-title {
    color: white;
    text-align: center;
    margin-top: 2rem;
    font: 100 60px system-ui;
    white-space: nowrap; 
    overflow: hidden;
    animation: hero-title-animation 3s ease forwards;
    margin: 4rem auto 0;
  }
  .hero-subtitle {
    color: white;
    text-align: center;
    margin-top: 8rem;
    opacity: 0;
    font: 100 20px system-ui;
    animation: hero-subtitle-animation 3s ease forwards;
  }
  @keyframes hero-gradient { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes hero-title-animation {
    0% {
      width: 0px;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }
    100% {
      width: 100%;
      border: none;
    }
  }
  @keyframes hero-subtitle-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* Styles for card */
.main-card {
    display: flex;

}
.card {
  width: 400px;
  margin: 0px auto;
  background-color: white;
  padding: 5px;
}
.card a {
  color: #333;
  text-decoration: none;
}
.card:hover .card-image img {
  width: 110%;
  filter: grayscale(0);
}
.card-image {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  transition-property: filter width;
  transition-duration: 0.3s;
}
.card-body {
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
}
.card-date {
  font-family: "Source Sans Pro", sans-serif;
}
.card-title,
.card-exceprt {
  font-family: "Playfair Display", serif;
}
.card-date,
.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.card-date,
.card-exceprt,
#case-title {
  color: #777;
}
#case-title {
  position: absolute;
  font: 18px "Microsoft YaHei";
  top: 10px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
}
/* Sign up */
.heros {
  width: 100%;
  height: 10em;
  position: absolute;
  left: 0;
  background: linear-gradient(270deg, #090057, #00f3ca);
  background-size: 100% 100%;
  animation: hero-gradient 18s ease infinite;
}



/* Footer */

.footer {
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #212529;
  text-align: left;
  color: #efe;
}
.right {
  float: right;
}
.pad {
  padding: 0.5rem;
  text-decoration: none;
}
.pad:hover {
  border: 0.1rem solid #efe;
}

/* Dashboard css */

.main-dash {
  display: flex;
  padding: 20px 10px;
}
.card-dash {
  width: 400px;
  margin: 0px auto;
  background-color: white;
  padding: 5px;
}

.card-dash a {
  text-align: center;
  display: block;
  padding-top: 50px;
  text-decoration: none;
}

/* Order CSS */

.meal .meal-body .meal-pay {
  overflow: hidden;
}
.meal-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.meal-price {
  float: left;
  text-align: left;
}
.meal-button {
  float: right;
  background-color: dodgerblue;
  padding: 5px;
}
.delete-button {
  float: right;
  background-color: red;
  padding: 5px;
}

.edit-button {
  float: left;
  background-color: green;
  padding: 5px;
}


/* View orders */

.view-order {
  overflow: hidden;
  background-color: #2b608a;
  padding: 20px 10px;
  margin-top: 2px;
  margin-left: 10%;
  margin-right: 10%;
}

.view-order a {
  float: left;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
}
.view-order .right {
  float: right;
  text-decoration: underline;
}
.select {
  display: block;
  padding: 20px;
}